#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

#gig {
    border-style: solid 
}

.logo {
    width: 15rem;
}

.band {
    color: green;
    background-color: bisque;
}

.image {
    width: 200px;
    border-radius: 25%;
}

.button{
	width: 50px;
	height: 50px;
    top:50%;
    position: fixed;
	left: 50%;
	margin-top: -45px;
	margin-left: -50px;
	border-radius: 5px;
	background: none;
	cursor: pointer;
}

